a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */


html {
  font-size: 1.375em; 
  line-height: 1.182em; 
  padding: 1.182em; 
  text-rendering: optimizeLegibility;
}

body {
  background-color: beige;
  font-family: 'Montserrat', sans-serif;
}

label {
  display: block;
  font-size: 1em;
  color: brown;
}


#content {
  text-align: center;
  background-color: beige;
}

h1 {
  margin-bottom: 1.5em;
  padding: 0.75em 1em;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2em;
  background-color: #8B0000; 
  color: beige;
  transition: background-color 0.3s ease;
}

h1:hover {
  background-color: brown; 
}

p {
  margin: 1em;
  padding-bottom: 1.5em;
  font-size: 1em;
  color: brown;
}

input[type="checkbox"] + label {
  width: auto;
  height: auto;
  display: inline;
  vertical-align: top;
}

#input-age-verification {
  padding: 1em;
  background-color: beige;
}

#input-submit {
  padding: 1em;
}

#submit {
  font-family: 'Montserrat', sans-serif;
  background-color: brown;
  color: beige;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#submit:hover {
  background-color: #8B0000;
  color: beige;
}

@media screen and (min-width: 620px) {
  p {
    font-size: 1.2em;
    padding-bottom: 0.7em;
  }
}

