
html {
  font-size: 1.375em; 
  line-height: 1.182em; 
  padding: 1.182em; 
  text-rendering: optimizeLegibility;
}

body {
  background-color: beige;
  font-family: 'Montserrat', sans-serif;
}

label {
  display: block;
  font-size: 1em;
  color: brown;
}

/* Layout Styles */

#content {
  text-align: center;
  background-color: beige;
}

h1 {
  margin-bottom: 1.5em;
  padding: 0.75em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 2em;
  background-color: #8B0000; 
  color: beige;
  transition: background-color 0.3s ease;
}

h1:hover {
  background-color: brown; 
}

p {
  margin: 1em;
  padding-bottom: 1.5em;
  font-size: 1em;
  color: brown;
}

input[type="checkbox"] + label {
  width: auto;
  height: auto;
  display: inline;
  vertical-align: top;
}

#input-age-verification {
  padding: 1em;
  background-color: beige;
}

#input-submit {
  padding: 1em;
}

#submit {
  font-family: 'Montserrat', sans-serif;
  background-color: brown;
  color: beige;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#submit:hover {
  background-color: #8B0000;
  color: beige;
}

@media screen and (min-width: 620px) {
  p {
    font-size: 1.2em;
    padding-bottom: 0.7em;
  }
}

