@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600&display=swap');

/* Reset and Normalize CSS */
/* ... (Same as provided) ... */

/* Base Styles */

html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
}

label {
  display: block;
  font-family: 'Chakra Petch', 'Courier New', sans-serif;
  font-size: 0.875em;
  color: white;
}

/* Layout Styles */

#content {
  text-align: center;
  background-color: rgb(165, 165, 168); /* Silver color */
}

h1 {
  margin-bottom: 1.5em;
  padding: 0.75em;
  font-family: 'Chakra Petch', 'Courier New', cursive;
  font-weight: 600;
  font-size: 1.8em;
  background-color: rgb(126, 124, 130); /* Silver color */
  color: rgb(198, 198, 199); /* Silver color */
}

p {
  margin: 1em;
  padding-bottom: 1.5em;
  font-family: 'Chakra Petch', 'Courier New', sans-serif;
  font-size: 0.875em;
  color: rgb(99, 95, 105); /* Silver color */
}

input[type="checkbox"] + label {
  width: auto;
  height: auto;
  display: inline;
  vertical-align: top;
}

#input-age-verification {
  padding: 1em;
  background-color: white;
}

#input-submit {
  padding: 1em;
}

#submit {
  font-family: 'Chakra Petch', 'Courier New', sans-serif;
  background-color: #3498db; /* Blue color */
  color: white;
}

/* State Styles */
@media screen and (min-width: 620px) {
  p {
    font-size: 1.2em;
    padding-bottom: 0.7em;
  }
}
